.venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
*.log
mlruns/
data/
notebooks/
reports/
examples/
tests/
statement/
scripts/
models/
dist
build
.git
**/.DS_Store
**/.ipynb_checkpoints
*.dvc
*.dvc.lock
